.contact{
    padding: 50px;
}

.contact > ul{
    list-style: none;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.contact > ul > li > a{
    text-decoration: none;
    color: #fafafa;
    transition: all 0.3s ease-in-out;
}

.contact > ul > li > a:hover{
    color: #fafafa9c;
}